<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flavorhub</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/src/public/images/heros/flavorhub.jpg">
            <img src="/src/public/images/heros/flavorhub.jpg" alt="FlavorHub Logo">
        </a>
      </div>
      <div id="menu-icon" class="menu-icon">
        <i class="ph-fill ph-list"></i>
      </div>
      <ul id="menu-list" class="hidden">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#" id="favorite-link">Favorite</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/yourprofile/" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
    
    <div class="hero">
      <div tabindex="0" class="hero_inner">
        <h1 class="hero_title">SELAMAT DATANG DI RASANYA SURGA</h1>
        <p class="hero_tagline">Nikmati Pengalaman Kuliner yang Tak Terlupakan</p>
      </div>
    </div>

    <div class="restaurant-list" id="restaurantList">
      
    </div>


   
  </body>
</html>